<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Trinity Courses </h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Course Name </th>
                <th>Fees</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Add new course</h2>
    <form action="/create" method="POST">
        <input type="name" name="name" placeholder="Name">
        <input type="fees" name="fees" placeholder="Fees">
        <input type="duration" name="duration" placeholder="Duration">
        <input type="submit" value="Add">
    </form>
</body>
</html>